<div class="pet-detail" *ngIf="pet; else noPetSelected">
    <div class="title">
        <h1>Nom :{{pet.name}}</h1>
        <h2>Espece :{{pet.species}}</h2>
    </div>
    <div class="pet-info">
        <img [src]="pet.imageUrl" alt="pas d'image">
        <p class="{{ pet.isAvailable? 'available' : 'sold'}}"> Disponibilité: {{pet.isAvailable?'Dispo':'Non dispo'}}</p>
        <p class="price">Prix: {{pet.price}} euros</p>
    </div>
</div>

<ng-template #noPetSelected>
    <div class="no-pet-selected">Merci de selectionner un animal</div>
</ng-template>
