<div class="pet-detail" *ngIf="selectedPet; else noPetSelected">
    <div class="title">
        <h1>Nom :{{selectedPet.name}}</h1>
        <h2>Espece :{{selectedPet.species}}</h2>
    </div>
    <div class="pet-info">
        <p class="{{ selectedPet.isAvailable? 'available' : 'sold'}}"> Disponibilité: {{selectedPet.isAvailable?'Dispo':'Non dispo'}}</p>
        <p class="price">Prix: {{selectedPet.price}} euros</p>
    </div>
</div>

<ng-template #noPetSelected>
    <div class="no-pet-selected">Merci de selectionner un animal</div>
</ng-template>
